<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h2 th:text="'검색 결과: ' + ${keyword}"></h2>

<form action="/members/search" method="get">
    <input type="text" name="keyword" placeholder="검색(이름)" th:value="${keyword}">
    <button type="submit">검색</button>
</form>

<hr/>

<div th:if="${#lists.isEmpty(members)}">
    <p>검색 결과가 없습니다.</p>
</div>

<ul th:if="${!#lists.isEmpty(members)}">
    <li th:each="m : ${members}">
        <a th:href="@{|/members/${m.id}|}"
           th:text="${m.username}"></a>
        ( <span th:text="${m.email}"></span> )
    </li>
</ul>

<a href="/members">멤버 목록으로</a>

</body>
</html>